.portfolio {
  color: $white;
  background: $darkBlueGradient;

  .page {
    min-height: 90vh;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
    overflow: hidden;
  }

  
.logo, .menu{
  height: 45px;
  width: 45px;
  z-index: 2;
  cursor: pointer;
}


  .chef,
  .barber{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
  }

  .hero {
    display: flex;
    overflow: hidden;
    height: 700px;
    align-self: center;
    justify-self: center;

    .model-right {
      transform: translate(0%, 10%);
    }

    .model-left {
      transform: translate(0%, -10%);
    }

    img {
      height: 600px;
      transition: transform 0.3s ease-out;
      cursor: pointer;
    }

    a{
      display: flex;
    }
  }

  .hero:hover .model-right {
    transform: translate(0%, 0%);
  }

  .hero:hover .model-left {
    transform: translate(0%, 0%);
  }

  .details {
    grid-column: 2/3;
    align-self: end;

    h1 {
      font-size: 64px;
      font-family: Arial;
    }

    h2 {
      font-size: 42px;
      padding: 20px 0px;
    }

    p{
      font-size: 24px;
      padding: 20px 0px 50px 0px;
    }
  }
}
